language: node_js                # 使用 nodejs
node_js:                         # 版本为 8
  - "8"

cache: yarn                      # 使用 yarn 而不是 npm (按照实际情况调整)
install: yarn

jobs:                            # 添加 job
  include:
    - stage: npm release   
      if: tag IS present         # 如果 push的代码 存在 tag  * git push --tags
      node_js: "8"               # 使用 8.x 的 node
      # script: yarn compile       # 执行 yarn compile 命令(按照实际情况调整)
      # before_deploy:             # 在 发布之前, 执行命令(按照实际情况调整)
      #   - cd dist
      deploy:
        provider: npm
        email: "$NPM_EMAIL"
        api_key: "$NPM_TOKEN"
        skip_cleanup: true       # 为了防止 Travis CI 清理额外的文件夹并删除你做的改变
        on:
          tags: true